.navbar-default {
  background-color: white;
  margin-bottom: 0;
}

.navbar-header {
  float: left;
}

.navbar-right {
  float: right;
}

.fa-twitter {
  color: #00aced;
  font-size: 24px;
}

.search-bar {
  height: 50px;
  padding-top: 7px;
}